<div class="container">
    <div class="row">
        <div class="col-md-10">
            <view id="messages"></view>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <view id="chatForm"></view>
            </div>
        </div>
    </div>
</div>
