<div class="container">
    <div class="row">
        <div class="col-md-10">
            <view id="messages"></view>
            <!-- <dl class="dl-horizontal" id="messages">
            </dl> -->
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form class="input-group" id="chatForm">
                    <input type="text" class="form-control" id="chatInput" placeholder="What do you want say?">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="chatInputSendButton">Send</button>
                    </span>
                </form><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
    </div>
</div>

<div id="JoinForm"></div>