<input type="text" class="form-control" id="chatInput" placeholder="What do you want say?">
<span class="input-group-btn">
    <button class="btn btn-default" type="button" id="chatInputSendButton">Send</button>
</span>