<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <form>
                <h3 class="text-center">Pick your username:</h3>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter your username">
                </div>
            </form>
        </div>
    </div>
</div>
